In [4]:
import pandas as pd

In [2]:
jd_df = pd.read_excel('data/jd_data.xlsx')

In [3]:
jd_df

                                                JD_Text
0     \n**Overview  \n  \n** Lazydays RV is looking ...
1     \n**Ãrea De AtuaÃ§Ã£o  \n  \n** TÃ©cnico em I...
2     \n\n\nðŸ”µ Capitole is still growing and we wa...
3     \n\n\nAs a Solutions Engineer, you will work c...
4     \n\n\n**ABOUT DAYONE**\n\nDayOne is a global l...
...                                                 ...
2992  \n Job Description\n \n\n**Who We Are:**\n\nLe...
2993  \n Job Description\n \n\nIt's fun to work in a...
2994  \n Job Description\n \n\n**About Bazaarvoice  ...
2995  \n Job Description\n \n\n**Opportunity Overvie...
2996  \n Job Description\n \n\n### JOB DESCRIPTION\n...

[2997 rows x 1 columns]

In [5]:
import pandas as pd

def load_job_descriptions(path: str) -> pd.DataFrame:
    df = pd.read_excel(path)
    print(f"Loaded {len(df)} job descriptions.")
    print("Columns:", df.columns.tolist())
    return df

In [10]:
df = load_job_descriptions("data/jd_data.xlsx")
print(df.head(10))

Loaded 2997 job descriptions.
Columns: ['JD_Text']
                                             JD_Text
0  \n**Overview  \n  \n** Lazydays RV is looking ...
1  \n**Ãrea De AtuaÃ§Ã£o  \n  \n** TÃ©cnico em I...
2  \n\n\nðŸ”µ Capitole is still growing and we wa...
3  \n\n\nAs a Solutions Engineer, you will work c...
4  \n\n\n**ABOUT DAYONE**\n\nDayOne is a global l...
5  \n\n\n**Job Role: Oracle PL/SQL Developer**\n\...
6  \n\n\n**Job Title:** Azure Data Engineer\n\n**...
7  \n\n\nSynergie Italia seleziona per azienda le...
8  \n**About  \n  \n** Du hast als IT-Ass eine Af...
9  \n\n\n**Position: Senior Microsoft SQL Server ...